AutoCAD.ACExtractor/bin/debug/AcCoreMgd.dll
AutoCAD.ACExtractor/bin/debug/AcCui.dll
AutoCAD.ACExtractor/bin/debug/AcDbMgd.dll
AutoCAD.ACExtractor/bin/debug/AcDx.dll
AutoCAD.ACExtractor/bin/debug/AcMgd.dll
AutoCAD.ACExtractor/bin/debug/AcTcMgd.dll
AutoCAD.ACExtractor/bin/debug/AcWindows.dll
AutoCAD.ACExtractor/bin/debug/AcDbMgd.dll
AutoCAD.ACExtractor/bin/debug/PresentationCore.dll
AutoCAD.ACExtractor/bin/debug/AdWindows.dll